<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>DuxCMS安装向导</title>
    <link rel="stylesheet" href="__PUBLIC__/system/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/install/css/style.css">
    <script type="text/javascript" src="__PUBLIC__/system/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/system/js/lib/amazeui.js"></script>
</head>
<body>
<div class="dux-body">
    <div class="dux-head">DuxCms内容管理系统 <span class="ver">{3}</span> <small>安装向导</small></div>
    <div class="am-cf">
        <div class="dux-menu">
            <ul class="am-nav">
                <li class="am-active"><a href="#">1. 使用协议</a></li>
                <li><a href="#">2. 环境检测</a></li>
                <li><a href="#">3. 配置参数</a></li>
                <li><a href="#">4. 完成安装</a></li>
            </ul>
        </div>
        <div class="dux-main">
            <div class="am-progress">
                <div class="am-progress-bar"  style="width: 33%">易用</div>
                <div class="am-progress-bar am-progress-bar-success"  style="width: 34%">扩展</div>
                <div class="am-progress-bar am-progress-bar-warning"  style="width: 33%">开源</div>
            </div>
            <h1 class="dux-title">
                MIT开源许可协议
            </h1>
            <div class="dux-content">
                被授权人有权利使用、复制、修改、合并、出版发行、散布、再授权及贩售软体及软体的副本。<br>
                被授权人可根据程式的需要修改授权条款为适当的内容。<br>
                在软件和软件的所有副本中都必须包含版权声明和许可声明。<br>
                此授权条款并非属copyleft的自由软体授权条款，允许在自由/开放源码软体或非自由软体（proprietary software）所使用。<br>
                此亦为MIT与BSD（The BSD license, 3-clause BSD license）本质上不同处。<br>
                MIT条款可与其他授权条款并存。另外，MIT条款也是自由软体基金会（FSF）所认可的自由软体授权条款，与GPL相容。<br>
            </div>
            <div class="dux-fun am-cf">
                <a class="am-btn am-btn-danger am-fl" href="javascript:alert('您已拒绝安装协议,请自行关闭窗口!');">拒绝</a>
                <a class="am-btn am-btn-primary am-fr" href="{url('detect')}">同意</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>

</script>