.am-btn-primary {
  background-color: color('blue', 'base');
  border-color: color('blue', 'base');
  &:hover,&:active,&:focus {
    background-color: color('blue', 'darken-1');
    border-color: color('blue', 'darken-1');
  }
}