<div data-mango="table-bind">
    <div class="dux-page-header am-cf">
        <div class="page-title">
            <form class="am-form-inline" method="get" action="{url()}">
                <div class="am-form-group">
                    <input type="text" name="keyword" class="am-form-field" value="{$pageMaps.keyword}" placeholder="搜索">
                </div>
                <div class="am-form-group">
                    <button type="submit" class="am-btn am-btn-primary am-icon-search"></button>
                </div>
            </form>
        </div>
        <div class="page-action">
            <a class="am-btn am-btn-primary" href="{url('system/ConfigManage/add')}">添加</a>
        </div>
    </div>
    <div class="dux-page-table">
        <table class="am-table dux-table" data-table>
            <thead>
            <tr>
                <th width="200">名称</th>
                <th>描述</th>
                <th width="200">字段</th>
                <th class="am-text-center" width="120">管理</th>
            </tr>
            </thead>
            <tbody>
            <!--loop{$list as $vo}-->
            <tr>
                <td>{$vo.name}</td>
                <td>
                    {$vo.description}
                </td>
                <td>{$vo.key}</td>
                <td class="am-text-center">
                    <a class="am-btn am-btn-primary am-btn-xs"
                       href="{url('system/ConfigManage/edit', ['id'=>$vo['info_id']])}" title="编辑"><i
                            class="am-icon-pencil"></i></a>
                    <a class="am-btn am-btn-danger am-btn-xs" href="javascript:;"
                       data-url="{url('del')}" data-id="{$vo.info_id}" title="删除" data-del><i
                            class=" am-icon-trash"></i></a>
                </td>
            </tr>
            <!--{/loop}-->
            </tbody>
        </table>
    </div>
    <div class="dux-page-foot am-cf">
        {$page}
    </div>
</div>